<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMbFiT82vdr2mr8C0vO3iF5MH-VL4gGYY</string>
	<key>GCM_SENDER_ID</key>
	<string>821444634282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelgo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>travelapp-806ee</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-806ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821444634282:ios:66e180a7e1418481ed12d3</string>
</dict>
</plist>